body {
  background-color: #f5f5f5;
}

.container {
  button {
    background-color: var(--primary-color);
    color: var(--primary-text-color);
    border: 1px solid var(--primary-element-color) !important;
  }
  button:hover {
    color: var(--primary-text-color);
  }
}