:root {
  --primary-color: #306bf5;
  --sale-color: #D9594C;
}

*:focus {
  outline: none;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  min-width: 310px;
}

body.modal-open {
  padding-right: 0 !important;
}

img {
  object-fit: contain;
}

.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-check-input {
  box-shadow: none !important;
}

.container-wrapper {
  min-height: 50vh;
}
.container-wrapper .not-found-code {
  font-size: 6rem;
  color: var(--primary-color);
}

.nav-fixed {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
}

nav .active {
  color: var(--primary-color) !important;
}
nav .nav-link {
  cursor: pointer;
}
nav .navbar-brand {
  display: flex;
}
nav .navbar-brand img {
  max-width: 350px;
  max-height: 45px;
}
nav .mobile-sidebar-toggle {
  background: none;
  border: none;
  font-size: 30px;
  color: var(--primary-color);
}
nav .search-container {
  position: relative;
  width: 50%;
}
nav .search-container input {
  padding: 9px 15px 9px 20px;
  border-radius: 3px;
  width: 100%;
  border: 1px solid var(--primary-color);
}
nav .search-container .search-button {
  background: var(--primary-color);
}
nav .search-container .fa-search, nav .search-container .fa-times {
  color: white;
}
nav .search-button-mobile {
  cursor: pointer;
}
nav .search-button-mobile .fas {
  font-size: 25px;
  color: var(--primary-color);
}
nav .cart-container {
  color: var(--primary-color);
  text-align: center;
  display: flex;
  align-items: center;
  cursor: pointer;
}
nav .cart-container .cart-icon-container {
  background: var(--primary-color);
  color: white;
  padding: 10px;
  border: 1px solid var(--primary-color);
}
nav .cart-container .cart-icon-container .fa-shopping-cart {
  font-size: 20px;
  transition: color 0.2s;
}
nav .cart-container .cart-info-container {
  background: white;
  border: 1px solid var(--primary-color);
  transition: 0.2s;
  padding: 10px 25px 10px 10px;
  position: relative;
}
nav .cart-container .cart-info-container .cart-count-container {
  background: var(--primary-color);
  color: white;
  border-radius: 5px;
  position: absolute;
  top: 2px;
  right: 2px;
  font-size: 10px;
  display: inline-block;
  padding: 2px 7px 2px 7px;
}
nav .cart-container .cart-info-container .cart-text-container {
  display: inline-block;
}
nav .cart-container:hover > .cart-info-container {
  background: #EBEBEB;
}
nav .cart-container:hover > .cart-icon-container {
  color: #EBEBEB;
}

.nav-top {
  padding-top: 0.3em;
  padding-bottom: 0.3rem;
  background-color: #ebebeb;
}
.nav-top .nav-item {
  padding: 5px 6px;
  border-color: #ccc !important;
}
.nav-top .navbar-nav .nav-link span {
  font-weight: 500;
}
.nav-top .navbar-nav .nav-link i, .nav-top .navbar-nav .nav-link span {
  line-height: 24px;
  display: inline-block;
  color: #5b5b5b;
  text-transform: uppercase;
}
.nav-top .navbar-nav .nav-link i {
  font-size: 16px;
  vertical-align: middle;
}

.nav-bot.transition {
  transition: 0.3s;
}

#authModal a {
  cursor: pointer;
}
#authModal .input-group .input-group-text {
  background: none;
}
#authModal .close-modal {
  background: none;
  border: none;
  font-size: 24px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.mobile-sidebar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.3s;
  z-index: -1;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
.mobile-sidebar-container .mobile-sidebar-content {
  height: 100%;
  position: absolute;
  transition: 0.3s;
  left: -100%;
  top: 0;
}
.mobile-sidebar-container .mobile-sidebar-content .mobile-sidebar-close {
  position: absolute;
  font-size: 35px;
  color: var(--primary-color);
  top: 5px;
  right: -45px;
}

.container .filter-option .filter-buttons .form-check-input:not(:disabled), .container .filter-option .filter-buttons .form-check-input:not(:disabled) ~ .form-check-label {
  cursor: pointer;
}
.container .product-container .row {
  position: relative;
}
.container .product-container .card {
  border-width: 1px;
  transition: 0.2s;
}
.container .product-container .card .card-img-top {
  width: 100%;
  cursor: pointer;
  max-height: 180px;
  min-height: 180px;
  object-fit: contain;
}
.container .product-container .card .card-subtitle {
  font-size: 0.9rem;
}
.container .product-container .card .card-title {
  cursor: pointer;
}
.container .product-container .card .show-more {
  cursor: pointer;
}
.container .product-container .card .card-info-list {
  list-style-type: none;
  padding-left: 0;
  min-height: 77px;
  max-height: 77px;
}
.container .product-container .card .card-info-list li {
  font-size: 13px;
  display: flex;
  align-items: center;
}
.container .product-container .card .card-info-list li .fa-circle {
  font-size: 7px;
  margin-top: 4px;
  margin-right: 5px;
}
.container .product-container .card:hover {
  box-shadow: 0 0 0.25rem var(--primary-color) !important;
  border: 1px solid transparent;
}

#search_options select, #search_options #gridSelect, #search_options #listSelect {
  cursor: pointer;
}

.product-row table td {
  vertical-align: middle;
}
.product-row table .total-price-text {
  color: #646464;
  font-weight: bold;
  max-width: 100px;
  min-width: 81px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.product-row table .retail-price-text {
  color: var(--primary-color);
}
.product-row table .retail-price-text, .product-row table .total-price-text {
  white-space: nowrap;
}
.product-row table .row-view-image {
  cursor: pointer;
}
.product-row table .row-price-sale {
  color: var(--sale-color);
}

.product-card .card-title {
  min-height: 48px;
  max-height: 48px;
  overflow: hidden;
}
.product-card .card-title:hover {
  color: var(--primary-color);
}

.card-price .retail-price-container {
  font-size: 0;
  display: inline-block;
}
.card-price .retail-price-container .retail-price-label {
  display: block;
  font-size: 1rem;
}
.card-price .retail-price-container .retail-price-text, .card-price .retail-price-container .retail-price-currency {
  color: var(--primary-color);
  font-size: 24px;
}
.card-price .price-sale {
  text-decoration: line-through;
  color: lightgrey !important;
  font-size: 21px !important;
  font-weight: normal !important;
}
.card-price .price-new {
  display: block;
  margin-top: -9px;
  color: var(--sale-color) !important;
}
.card-price .total-price-text {
  font-size: 24px;
  color: #646464;
}

.btn-add-cart {
  background-color: #b9b9b9;
  color: white;
  width: 100%;
  margin-top: 27px;
  transition: 0.3s;
  height: 35px;
  border: none;
}
.btn-add-cart .loading {
  display: none;
}

.product-row table .btn-add-cart {
  height: auto;
  min-height: 40px;
}

.btn-add-cart:hover {
  filter: brightness(106%);
}

table .btn-add-cart {
  margin: 0;
}

.quantity-container .quantity-picker-container {
  height: 35px;
  width: 100%;
  background: white;
  display: inline-flex;
}
.quantity-container input[type=number] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
  text-align: center;
  background: none;
  display: flex;
  width: 100%;
  border-radius: 0;
  border: 1px solid #ced4da;
  border-left: 0;
  border-right: 0;
}
.quantity-container input[type=number]::-webkit-inner-spin-button,
.quantity-container input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.quantity-container .minus, .quantity-container .plus {
  display: flex;
  font-size: 12px;
  justify-content: center;
  align-items: center;
  border: 1px solid #ced4da;
  font-weight: 400;
  cursor: pointer;
  min-width: 30%;
}

#product_page .modal-dialog {
  height: 90%;
}
#product_page .modal-content {
  height: 85%;
  max-height: 85%;
}
#product_page .modal-body img {
  width: 100%;
  max-height: 230px;
  min-height: 230px;
  object-fit: contain;
}
#product_page .modal-body .info-column {
  max-height: 100%;
  overflow: hidden;
  overflow-y: auto;
}
#product_page .modal-body .btn-close-modal {
  background: none;
  border: none;
  color: var(--primary-color);
}
#product_page .modal-body .page-switch-container button {
  transition: 0.2s;
  border: none;
  padding: 5px 15px;
  background: none;
  border-bottom: 5px solid lightgrey;
}
#product_page .modal-body .page-switch-container button.active {
  border-bottom: 5px solid var(--primary-color);
}

.green-label {
  background: #D9F4C7;
  border: 1px solid #67c827;
}

.yellow-label {
  background: #F8FA90;
  border: 1px solid #b3b608;
}

/* Tablet properties (md breakpoint) */
@media only screen and (max-width: 768px) {
  nav .navbar-brand img {
    max-width: 200px;
  }
  nav .cart-container {
    position: relative;
  }
  nav .cart-container .cart-icon-container {
    border-radius: 5px;
    border: none;
  }
  nav .cart-container .cart-info-container {
    background: none;
    padding: 0;
    border: none;
    position: static;
  }
  nav .cart-container .cart-info-container .cart-text-container {
    display: none;
  }
  nav .cart-container .cart-info-container .cart-count-container {
    top: 3px;
    right: 3px;
    padding: 1px 5px 1px 5px;
    border-radius: 50%;
  }
}
/* Mobile phone properties (sm breakpoint) */
@media only screen and (max-width: 410px) {
  nav .navbar-brand img {
    max-width: 124px;
  }
}
/* md breakpoint */
@media only screen and (max-width: 768px) {
  .product-row table .quantity-picker-input {
    border: 1px solid #ced4da;
  }

  .card-price .btn-add-cart {
    margin-top: 10px;
  }
}

/*# sourceMappingURL=main.css.map */
